@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu&display=swap");

body {
  font-family: "Nunito";
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

/* Form Styles */
.todo-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.todo-input {
  font-family: "Nunito";
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.textarea {
  font-family: "Nunito";
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.todo-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Nunito";
}

.todo-btn:hover {
  background-color: #218838;
}

/* Todo item codes */

.todo-list {
  list-style: none;
  padding: 0;
  max-width: 440px;
  margin: 20px auto;
  display: flex;
  flex-direction: column-reverse;
}

.todo-item {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.todo-title {
  display: block;
  font-size: 25px;
}

#completed {
  text-decoration: line-through;
  filter: opacity(0.5);
}

.main-title {
  text-align: center;
}

.delete-btn,
.edit-btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Nunito";
}

.delete-btn {
  background-color: #c82333;
}

.edit-btn {
  background-color: #ffa500;
}

.complete-btn {
  background-color: #28a745;
}

.delete-btn:hover,
.edit-btn:hover,
.complete-btn:hover,
.complete-btn:hover {
  filter: brightness(0.8);
}

.no-todo {
  text-align: center;
  display: block;
}

.none-btn {
  display: none;
}

.complete-btn {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Nunito";
}

.completed-task {
  filter: grayscale(100%);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.disabled-btns {
  display: none;
}

.btns-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
